<mat-card  class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.superhero}}</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image [src]="item | heroeImagen"  alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h2>{{item.publisher}}</h2>
      <p>
        <strong>Primera aparicion </strong>{{item.first_appearance}}
       <br>
       <strong>Personajes </strong>{{item.characters}}  
    </p>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-button color="warn"
      [routerLink]="['/heroes', item.id]"
      >Ver Mas</button>
      <button mat-button color="info"
      [routerLink]="['/heroes/editar', item.id]">
       Editar</button>
    </mat-card-actions>
  </mat-card>