<h2>Buscar Heroe</h2>
<div>
    <div>

    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Heroe</mat-label>
            <input type="text"
                   placeholder="Introduce texto..."
                   aria-label="Number"
                   matInput
                 [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()"
                   
                   >
                   
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
            (optionSelected)="opcionSeleccionada($event)"
            >
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{heroe.superhero}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
    </div>
   
</div>
<div *ngIf="heroeSeleccionado">
  <app-heroe-tarjeta [item]="heroeSeleccionado"></app-heroe-tarjeta>
  <pre>{{heroeSeleccionado | json}}</pre>
</div>